include README.rst
include NEWS.rst
include ChangeLog
include COPYING
include Makefile
include mathicsscript/data/inputrc-no-unicode
include mathicsscript/data/inputrc-unicode
include mathicsscript/data/mma-tables.json
recursive-include mathicsscript *.py
recursive-include test *.py *.m
recursive-exclude __pycache__ *.pyc
